.thumbnail{
    width: 300px;
    /* height: 300px;
    object-fit: contain;
    object-position: center;
    border-width: 2px;
    border-color: red;
    border-style: solid;
 */
}

.searchBar{
    font-size: 20px;
    margin: 0px 12px;
    display: block;
}

/* block element to inline block element */
/* .video-author, .video-stats {display: inline-block;} */

/* inline element to block element */
.thumbnail{display: block;}

.videoPrev{width: 300px;display: inline-block;vertical-align: top;margin-right: 15px;}