.d11a {
    display: grid;
    grid-template-columns: 200px 75px;
    margin: 10px 0px;
}

.d11a>div:first-child {
    background-color: lightblue;
}

.d11a>div:last-child {
    background-color: lightcoral;
}

.d11b {
    display: grid;
    grid-template-columns: 50px 1fr 75px;
    margin: 10px 0px;
}

.d11b>div:nth-child(1) {
    background-color: blue;
}

.d11b>div:nth-child(2) {
    background-color: purple;
}

.d11b>div:nth-child(3) {
    background-color: red;
}

.d11c {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 10px;
    column-gap: 20px;
    margin: 10px 0px;
}

.d11c>div {
    background-color: pink;
}

.d11d {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
}



.profilePic {
    width: 100%;
}

.userProfilePicture{
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.nameSide{
    font-weight: bold;
}

.userName, .correlationSide,.correlationText, .newCorrelation{padding: 0px 5px; margin: 4px 0px;}

.correlationSide{
    display: grid;
    grid-template-columns: 25px 1fr;
}

.addFriend{
    background-color: rgb(55, 126, 203);
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    border-style: none;
}

.column{box-shadow: 0px 0px 5px black;}