.d13a{display: flex;}
.part1{background-color: lightblue; width: 100px;display: flex; justify-content: center;}
.part2{background-color: lightpink; width: 200px;} 
.d13aPItem1{background-color: black; color: white;}