.d9a {
    background-color: red;
    height: 150px;
}

.d9b {
    height: 150px;
    width: 150px;
    border-radius: 75px;
    background-color: green;
}

.d9c {
    width: 200px;
    margin: 15px;
    background-color: wheat;
    border-width: 1px;
    border-style: solid;
}

.d9c>* {
    margin: 10px;
}

.d9d {
    background-color: black;
    width: 350px;
}

.d9d>* {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

.firstP {
    padding: 20px 0px 2px 10px;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 15px;
}

.secondP {
    padding: 3px 0px 20px 10px;
    color: grey;
}

.d9e {
    box-shadow: 0px 0px 5px black;
    width: 350px;
    border-radius: 5px;
    margin: 15px 0px;
}

.d9e>* {
    vertical-align: middle;
    padding: 10px 0px;
}

.d9e>img {
    width: 25px;
    height: 25px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 15px;
}

.d9e>span {
    margin-right: 100px;
}

.d9e>button {
    background-color: rgb(52, 70, 235);
    border-style: none;
    border-radius: 20px;
    color: white;
    padding: 8px 15px;
}

.d9f{margin: 15px 0px;border-style: none; box-shadow: 0px 0px 5px black;width: 100px;margin: 5px;}
.d9f>img{    
    width: 100%;
    height: 100px;
    object-fit: cover;
}
.d9f>.catName{font-weight: bold;}
.d9f>p{margin: 0px 5px;}
.d9f>button{margin: 5px;background-color: rgb(54, 44, 194);color: white; border-style: none; padding: 8px 10px; border-radius: 3px;}
.d9f>.friendCounter{font-size: 10px;color: grey;}

.d9g>*{display: inline-block;}

.d9h{
    text-align: center;
}
.d9h>* {
    display: inline-block;
}

.d9h>img {
    width: 200px;
    margin: 0px 110px;
}

.d9h>input {
    padding: 5px 10px;
    border-style: none;
    box-shadow: 0px 0px 2px black;
    margin: 10px 0px;
    width: 400px;
    border-radius: 15px;
}
.d9h>button{
    padding: 7px 12px;
    margin: 10px 5px;
    border-style: none ;
    border-radius: 2px;
    background-color: rgb(243, 243, 243);
    font-family: Arial, Helvetica, sans-serif;
}